{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Doublekik - Football</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "doublekickApp/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "doublekickApp/css/coderwall.css" %}" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="{% static "doublekickApp/css/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- IE8 support for HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">




        <section id="contact">
        <div class="container">


            <div class="row">
                <div class="col-lg-12 text-center">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active"><a href="#dashboard" data-toggle="tab">Profile</a></li>
                        <li><a href="#player" data-toggle="tab">Player</a></li>
                        <li><a href="#games" data-toggle="tab">Games</a></li>

                      </ul>
                </div>
            </div>
            <br />


            <div class="tab-content">
                <div class="tab-pane fade in active" id="dashboard">
                             <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h2>Dashboard</h2>
                                    <hr class="star-primary">
                                </div>
                            </div>

                            <div class="row">
                            	<div class="col-lg-3 col-lg-offset-2">
            					<a class="btn btn-info text-left" href="{% url 'newGameForm' %}" style="width:120px">Create Game</a>
            					</div>

            					<div class="col-lg-3 col-lg-offset-2">
            					<a class="btn btn-info text-left" href="{% url 'logout' %}" style="width:120px">Logout</a> <br>
            					</div>
            				</div>

                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">

                                    <div class="row">
                                        <div class="col-md-6">
                                             <div class="panel panel-primary">
                                                    <div class="panel-heading"><h3>My activity</h3></div><!-- end div #widget-header -->
                                                            <div class="panel-body" style="min-height:250px">
                                                                    <div class="row-fluid">
                                                                            <div class="span3">
                                                                            <a href="#" class="icon">
                                                                                    <img src="http://teammanager.eu01.aws.af.cm/public/images/icons/small_football.jpg" alt="" />
                                                                            </a>
                                                                            </div><!-- end div span3 -->

                                                                    <div class="span7">
                                                                    <h4>Next game</h4>
                                                                    {% if games %}
                                                                    <!-- Check for games -->
                                                                    {% for game in games %}
                                                                    <h5>Game</h5>
                                                                    Field Name: {{game.field.fieldName}}<br>
                                                                    Field Location: {{game.field.location}}<br>
                                                                    Game Time: {{game.timeDate}}<br>

                                                                    {% endfor %}

                                                                    {% else %}
																	You don't have any game scheduled.
																	{% endif %}
																	
																	</div><!-- end div span7 -->

                                                                    <div class="row-fluid">
                                                                            <div class="span3" style="margin-top:30px">
                                                                                    <a href="#" class="icon">
                                                                                    <img src="http://teammanager.eu01.aws.af.cm/public/images/icons/id.png" width="52" height="52" alt="" />
                                                                                    </a>
                                                                            </div><!-- end div #span3 -->

                                                                    <div class="span7" style="margin-top:30px">
                                                                    <h4>Connected Players</h4>
                                                                            <!-- check for players -->
                                                                            You are currently connected to 0 players.
                                                                    </div><!-- end div #span7 -->

                                                                    <div class="row-fluid">
                                                                            <div class="span3" style="margin-top:30px">
                                                                                    <a href="#" class="icon">
                                                                                    <img src="http://teammanager.eu01.aws.af.cm/public/images/player_shirt_icon.png" width="52" height="52" alt="" />
                                                                                    </a>
                                                                            </div><!-- end div #span3 -->

                                                                            <div class="span7" style="margin-top:30px">
                                                                            <h4>Player fees</h4>
                                                                                    Awaiting <strong>&pound;0.00</strong> in player fees.
                                                                            </div><!-- end div #span7 -->
                                                                    </div><!-- end div #row-fluid -->
                                                            </div><!-- end div #row-fluid -->
                                                    </div><!-- end div #widget-content -->
                                            </div><!-- end div #widget widget-box -->
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                              <div class="panel panel-primary">
                                                    <div class="panel-heading"><h3>Confirmed Games</h3></div><!-- end div #widget-header -->
                                                            <div style="min-height:250px" class="panel-body">
                                                                    <div class="row-fluid">
                                                                            <div class="span2">
                                                                                    <a class="icon" href="#"><img width="52" height="52" alt="" src="http://teammanager.eu01.aws.af.cm/public/images/icons/recycle.png"></a>
                                                                            </div><!-- end div #span2 -->

                                                                    <div class="span8">
                                                                    <h4>Confirmed games</h4>
                                                                            <h5>You currently have <b>0</b> games confirmed.</h5><br>
                                                                                                                                    </div><!-- end div #span8 -->
                                                            </div><!-- end div #row-fluid -->
                                                    </div><!-- end div #widget-content -->
                                            </div>
                                        </div>
                                    </div>


                            </div>
                        </div>
                </div>
                <div class="tab-pane fade" id="player">

			{% if players %}
				{% for player in players %}
				<div class="col-md-3">
					<div class="panel panel-primary">
						<div class="panel-heading">
						<h3 style="margin-left:23px"><a href="">{{player.firstName}} {{player.lastName}}</a>
						</h3>
						</div><!-- end div #widget-header -->

						<!-- Get picture for fixture -->
					<div style="min-height:250px; padding:30px" class="panel-body">
	                                    <a href=""><img class="img-polaroid" src="{% url 'decode' player.id %}" height="120px" weight="120px"></a>
						        <div class="clear"></div>
						        <div class="row-fluid">
<!-- 							        <p><a class="btn btn-info" href="" style="width:174px">More info</a></p> -->
						        </div><!-- end div #row-fluid -->
						        <b>Username:</b> {{player.playerInfo.username}}<br>
						        <b>Position:</b> {{player.position}}<br>
						        <b>Matches Played:</b> {{player.nMatchesPlayed}}<br>
						        <b>Speed:</b> {{player.speed}}<br>
						        <b>Shooting:</b> {{player.shooting}}<br>
						        <b>Team Work:</b> {{player.teamWork}}<br>
						        <b>Passing:</b> {{player.passing}}<br>
						 </div><!-- end div #row-content -->
					</div><!-- end div #widget widget-box -->
				</div>
				{% endfor %}
			{% else %}
				There are no players
			{% endif %}
		</div>
        
        <div class="tab-pane fade" id="games">
                {% if avalgames %}
                {% for avalgame in avalgames %}
                <div class="col-md-3">
                	
				<div class="panel panel-primary">
					<div class="panel-heading">
					<h3 style="margin-left:23px"><a href="">{{avalgame.field.fieldName}}</a>
					</h3>
					</div><!-- end div #widget-header -->

					<!-- Get picture for fixture -->
					<div style="min-height:250px; padding:30px" class="panel-body">
                                    <a href=""><img class="img-polaroid" src="{% url 'decodeField' avalgame.field.id %}" ></a>
					        <div class="clear"></div>
					        <div class="row-fluid">
						        <p>Join Game<br><a class="btn btn-info" href="{% url 'joinGame1' avalgame.id %}" style="width:120px">Team 1</a><br><br>
						        	<a class="btn btn-info" href="{% url 'joinGame2' avalgame.id %}" style="width:120px">Team 2</a></p>
					        </div><!-- end div #row-fluid -->
					        <b>Field Location:</b> {{avalgame.field.location}}<br>
					        <b>Time:</b> {{avalgame.timeDate}}<br>
					        
					 </div><!-- end div #row-content -->
				</div><!-- end div #widget widget-box -->
			</div>
				{% endfor %}
			{% else %}
			There are no avaliable games
			{% endif %}

        </div>


        </div>



             </div>
    </section>







    <footer class="text-center">

        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; 2014 - Double Kick
                    </div>
                </div>
            </div>
        </div>
    </footer>





    <script src="{% static "doublekickApp/js/jquery-1.10.2.js" %}"></script>
    <script src="{% static "doublekickApp/js/bootstrap.min.js" %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static "doublekickApp/js/classie.js" %}"></script>
    <script src="{% static "doublekickApp/js/cbpAnimatedHeader.js" %}"></script>
    <script src="{% static "doublekickApp/js/freelancer.js" %}"></script>

</body>

</html>
